<launch>
  <arg name="start_upperarm_node" default="true" />
  <arg name="start_forearm_node" default="true" />
  <arg name="start_hand_node" default="true" />

  <!-- 第一个陀螺仪节点 -->
  <group ns="upperarm" if="$(arg start_upperarm_node)">
    <node pkg="robotswitch_controller" name="upper_imu" type="ahrs_driver" output="screen" >
      <param name="debug"  value="false"/>
      <param name="ahrs_port"  value="/dev/ttyUSB1"/>
      <param name="ahrs_baud"  value="921600"/>
      <param name="imu_topic"  value="imu"/>
      <param name="imu_frame"  value="gyro_link"/>
      <param name="mag_pose_2d_topic"  value="/mag_pose_2d"/>
      <param name="Euler_angles_pub_"  value="/euler_angles"/>
      <param name="Magnetic_pub_"  value="/magnetic"/>
      <param name="gps_topic_" value="/gps/fix"/>
      <param name="twist_topic_" value="/system_speed"/>
      <param name="NED_odom_topic_" value="/NED_odometry"/>
      <param name="device_type"  value="1"/> <!-- 0: origin_data, 1: for single imu or ucar in ROS -->
    </node>
  </group>

  <!-- 第二个陀螺仪节点 -->
  <group ns="forearm" if="$(arg start_forearm_node)">
    <node pkg="robotswitch_controller" name="fore_imu" type="ahrs_driver" output="screen" >
      <param name="debug"  value="false"/>
      <param name="ahrs_port"  value="/dev/ttyUSB2"/>
      <param name="ahrs_baud"  value="921600"/>
      <param name="imu_topic"  value="imu"/>
      <param name="imu_frame"  value="gyro_link"/>
      <param name="mag_pose_2d_topic"  value="/mag_pose_2d"/>
      <param name="Euler_angles_pub_"  value="/euler_angles"/>
      <param name="Magnetic_pub_"  value="/magnetic"/>
      <param name="gps_topic_" value="/gps/fix"/>
      <param name="twist_topic_" value="/system_speed"/>
      <param name="NED_odom_topic_" value="/NED_odometry"/>
      <param name="device_type"  value="1"/> <!-- 0: origin_data, 1: for single imu or ucar in ROS -->
    </node>
  </group>

  <!-- 第三个陀螺仪节点 -->
  <group ns="hand" if="$(arg start_hand_node)">
    <node pkg="robotswitch_controller" name="hand_imu" type="ahrs_driver" output="screen" >
      <param name="debug"  value="false"/>
      <param name="ahrs_port"  value="/dev/ttyUSB3"/>
      <param name="ahrs_baud"  value="921600"/>
      <param name="imu_topic"  value="imu"/>
      <param name="imu_frame"  value="gyro_link"/>
      <param name="mag_pose_2d_topic"  value="/mag_pose_2d"/>
      <param name="Euler_angles_pub_"  value="/euler_angles"/>
      <param name="Magnetic_pub_"  value="/magnetic"/>
      <param name="gps_topic_" value="/gps/fix"/>
      <param name="twist_topic_" value="/system_speed"/>
      <param name="NED_odom_topic_" value="/NED_odometry"/>
      <param name="device_type"  value="1"/> <!-- 0: origin_data, 1: for single imu or ucar in ROS -->
    </node>

  </group>
  
</launch>
