<launch>
        <arg name="tele_mcu_port" default="/dev/ttyUSB0" />
        <node name = "teleop_mcu_node" pkg = "robotswitch_controller" type = "teleop_mcu_node" respawn="false" output="screen" >
                <param name="teleop_port_"  value="$(arg tele_mcu_port)"/>
                <param name="teleop_baud_"  value="921600"/>
        </node>
</launch>